.imgAppointmentContainer {
    display: flex;
    padding: 2em;
    margin: 2em;
    align-items: center;
    font-size: 1em;
    background-color: rgba(9, 107, 132, 0.5);
    border-radius: 8px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;

    img {
        border-radius: 8px;
        height: 200px;
        padding-right: 2em;
    }
}