.cardContainerAppointment {
    background-color: rgba(9, 107, 132, 0.5);
    color: rgb(0, 0, 0);
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    margin: 10px;
}

img {
    flex: 1; 
    max-width: 100px; 
    height: 100px; 
    margin: 0 10px;
    border-radius: 6px;
  }
span {
    flex: 1; 
    text-align: center;
    margin: 0 10px; 
  }

.active {
    color: rgb(8, 243, 8);

    &:hover {
        color: white;
        cursor: pointer;
    }
}

.cancelled {
    color: rgb(220, 10, 10);
}